@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
body{
    background-color: lightblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/ocean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightgoldenrodyellow;
    background-position: center;
}