@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
body{
    background-color: lightblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/ocean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: beige;
    /* height: 70vh;
    width: 100px; */
}
/* h1{
    color: black;
    text-align: center;
} */