@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
/* h1{
    color: blue;
    text-align: center;
    text-transform: capitalize;
    text-decoration-line: underline;
} */
body{
    background-color: lightblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/Taraji02-17-768x432.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightgoldenrodyellow;
    background-position: center;
}